<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
	  <title> Ademe Databât - Evalution des projets par le jury</title>
	  <script data-id="matomo-tracking" data-matomo-tracking-url="https://matomo.datactivist.coop" data-matomo-tracking-id="1" src="/js/matomo-tracking.min.8309b0e0465f4f5ca709389867bedebc7dc7dfc01ddf1834928dbb5384752265.js" defer=""></script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Concours Databât de l'Ademe</h1>
      <h2 class="project-tagline>"Evaluation des projets par le j</h2>
	  </section>

    <section class="main-content" id="main">
      {{ content }}
									
    <footer class="site-footer">
	    <p style="font-weight:bold"> A propos de Databat</p>
	    <p>Le concours DataBât organisé par l’Ademe est l’occasion d’associer les forces et les talents pour agir sur la transition écologique, en exploitant les données de la rénovation énergétique des bâtiments.
Durant le concours, les participants s'appuyent sur les données pour faire émerger de nouveaux services qui proposeront une aide à la décision plus fine et favoriseront un changement de comportement à l’égard de la rénovation énergétique, pour les particuliers mais aussi pour les entreprises ou les acteurs publics.
	    </footer>
    </section>

  </body>
</html>
